* {
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0
}

header {
   
    width: 100%;
    display: flex;
    height: 100px;
    box-shadow: 0 0 10px;
    gap: 50px;


}

.logo img {
    width: 80px;
    height: auto;
    margin-left: 40px;
    margin-top: 10px;
    align-items: center;
}

nav {
    margin-top: 40px;
    text-align: left;

}

nav ul {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-right: 40px;

}

nav li {
    font-size: 20px;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    text-shadow: 2px 2px 3px black;
}

header h1 {
    text-align: center;
    margin-top: 30px;
}

.table {
    overflow: hidden;
    border: 1px solid;
    margin-top: 30px;
    width: 700px;
    height: min-content;
    margin: auto;
    background-color: brown;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 5px 5px;
}

.line {
    margin-top: 30px;
    display: flex;
    gap: 30px;

}

footer {
    border:1px;
    border-radius:  10px 10px 0 0;
    height: 300px;
    background-color: black;
}

footer h1 {
    margin-top: 30px;
    text-align: center;
    color: white;
}
footer p{
    color:white;
    margin-top: 20px;
    text-align: center;
}
